canvas{
    border: 5px solid white;
    box-shadow: 3px 3px 3px grey;
}

.heading{
    font-size: 25px;
    margin: 0px;
    width: 100%;
    background-color: rgb(156, 149, 149);
}

.note{
    font-size: 15px;
    background-color: rgb(156, 149, 149);
}